.titulo {
color:rgba(0, 122, 255, 0.6000000238418579);
text-align:center;
vertical-align:text-top;
font-size:100px;
font-family:Inter;
letter-spacing:-2px;
line-height:auto;
border-style:hidden;
outline:none;
width:1380px;
}

.rectanguloazul {
background-color:rgba(0, 122, 255, 0.5);
height:1631px;
width:1337px;
border-radius:25px;
margin-left:25px;
}

.flipped
{
color:#ffffff;
text-align:justify;
vertical-align:top;
font-size:28px;
font-family:Inter;
letter-spacing:-2px;
line-height:auto;
border-style:hidden;
outline:none;
width:886px;
display: inline-block;
}

.rectanguloblanco
{
background-color:#ffffff;
height:533px;
width:1285px;
border-radius:25px;
margin-left:25px;
}

.aulainvertida
{
color:rgba(0, 122, 255, 0.6000000238418579);
text-align:justify;
vertical-align:top;
font-size:28px;
font-family:Inter;
letter-spacing:-2px;
line-height:auto;
border-style:hidden;
outline:none;
width:886px;
display: inline-block;
margin-left:25px;
}

.puzzlearonson
{
text-align:justify;
vertical-align:top;
font-size:28px;
font-family:Inter;
letter-spacing:-2px;
line-height:auto;
border-style:hidden;
outline:none;
width:886px;
display: inline-block;
margin-left:25px;
}

.fondogris
{
background-color:#d3d3d3;
}

.cssseccion1
{
color:rgba(0, 0, 0, 0.75);
text-align:justify;
vertical-align:text-middle;
font-size:24px;
font-family:Inter;
border-style:hidden;
outline:none;
width:733px;
margin-left:25px;
}

.subtitulo1
{
color:#ffffff;
text-align:center;
vertical-align:text-top;
font-size:40px;
font-family:Inter;
letter-spacing:-2px;
border-style:hidden;
outline:none;
width:1224px;
margin-left:25px;
}

.subtitulo2
{
color:#007aff;
text-align:center;
vertical-align:text-top;
font-size:40px;
font-family:Inter;
letter-spacing:-2px;
line-height:auto;
border-style:hidden;
outline:none;
width:1216px;
}

.subtitulo3
{
color:#007aff;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:Inter;
letter-spacing:-2px;
line-height:auto;
border-style:hidden;
outline:none;
width:1216px;
}

.cssseccion2
{
color:rgba(0, 0, 0, 0.75);
text-align:left;
vertical-align:text-middle;
font-size:24px;
border-style:hidden;
outline:none;
width:1183px;
margin-left:25px;
}

.video
{
display: flex;
justify-content: center;
padding: 20px;
}

.rectangulo1
{
line-height:auto;
width:1216px;
border-radius:25px;
border:3px solid #007aff;
justify-content: center;
vertical-align:text-middle;
}

.rectangulo2
{
line-height:auto;
width:1137px;
border-radius:25px;
border:3px solid #007aff;
left:2490px;
top:2078px;
margin:25px;
}

.rectangulo1
{
line-height:auto;
width:1216px;
border-radius:25px;
border:3px solid #007aff;
justify-content: center;
vertical-align:text-middle;
background-color:#ffe6e5;
}

.grupo1
{
display:flex;
}

.enumerado
{
color:rgba(0, 122, 255, 0.6000000238418579);
font-size:128px;
font-family:Inter;
}

.enumerado2
{
color:rgba(0, 122, 255, 0.6000000238418579);
font-size:75px;
font-family:Inter;
}

.cssseccion3
{
color:#000000;
font-size:32px;
font-family:Inter;
letter-spacing:-2px;
}

.estilo1
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
letter-spacing:-2px;
line-height:auto;
border-style:hidden;
outline:none;
}


